.inputLocation {
  display: flex;
  justify-content: flex-start;
  width: 475px;
  background: white;
  border-radius: 0.75rem;
  margin: 10px auto;
}

.inputLocation i {
  align-self: center;
  justify-self: center;
  padding: 25px;
}
.inputLocation input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.inputLocation input::placeholder {
  font-size: 1.2rem;
}
.featuresWrapper {
  flex-direction: column;
}

.featuresHeading p {
  margin: 75px 10px 30px 10px;
  font-size: 1.5rem;
  text-align: center;
}

.featuresListWrapper {
  width: 100%;
  overflow: auto;
}
::-webkit-scrollbar {
  display: none;
}

.featuresList {
  margin: 0 10px;
  flex-wrap: wrap;
}

.featureDiv {
  flex-direction: column;
  justify-content: space-between;
  background: #f6f7f8;
  width: 350px;
  height: 100%;
  border-radius: 0.5rem;
}

.featureDiv:nth-of-type(2) {
  margin: 0 20px;
}

.feature {
  font-size: 1.5rem;
  padding: 30px 50px 30px 40px;
  font-weight: 500;
}

.featureDescription {
  padding: 0 50px 25px 40px;
}

.featureImg {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.shopBtn {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background: #0aad0a;
  padding: 15px;
  width: 360px;
  border-radius: 1rem;
  outline-style: none;
  border: none;
  margin: 50px;
  cursor: pointer;
}
.shopBtn:hover {
  background: #039b03;
}

@media (max-width: 1100px) {
  .featuresListWrapper {
    justify-content: flex-start;
  }
}

@media (max-width: 900px) {
  .featuresHeading {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .featureDiv:nth-of-type(2) {
    margin: 0 10px;
  }

  .featureDiv {
    width: 300px;
  }

  .shopBtn {
    width: 90%;
  }
}

.tpList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.radioGroup {
  display: flex;
  align-items: center;
}

.radioGroup input {
  width: auto;
}
